.card {
    display: grid;
    place-items: center;
    place-content: center;
    min-width: 300px;
    height: 200px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    color: var(--secondary);
    position: relative;
    transition: all .2s ease;
    flex: 1;
}

.card p {
    font-size: 1.5em;
}

.card:hover {
    transform: scale(1.05);
    color: white;
    cursor: pointer;
    background: linear-gradient(45deg, var(--secondary), var(--primary));
    border: none;
    bottom: 2px;
    font-weight: bold;
    box-shadow: 1px 1px 8px var(--secondary),
    inset 2px 2px 5px rgba(255, 255, 255, 0.40);
}

@media (max-width: 640px) {
    .card {
        min-width: 250px;
    }
}