.definition {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.definition-title {
    font-size: 2em;
    color: white;
    background: linear-gradient(45deg, var(--secondary), var(--primary));
    text-align: center;
    line-height: 40px;
    padding: 12px 0;
}

@media (max-width: 640px) {
    .definition-title { border-radius: 12px; }
}

@media print {
    .definition-title { border-radius: 12px; }
}