.container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 90%;
    padding: 24px;
    padding-top: 80px;
}

.title {
    border: 2px solid var(--secondary);
    padding: 12px 24px;
    color: var(--secondary);
    margin-bottom: 24px;
}

.definition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    max-width: 60%;
}

@media (max-width: 640px) {
    .definition-container {
        max-width: 100%;
    }
}